.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://i.imgur.com/hW8tBdX.png");
  background-repeat: repeat-x;
  background-position: right;

  animation: move-background 30s linear infinite;
}

@keyframes move-background {
  0% {
    background-position: left;
  }
  25% {
    background-position: center;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: center;
  }
  100% {
    background-position: left;
  }
}

.picture-container {
  margin-top: 10vh;
  width: 25vw;
  height: 70vh;
  background: url("https://images.unsplash.com/photo-1579547621113-e4bb2a19bdd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fGFic3RyYWN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  z-index: 1;

  box-shadow: 0px 0px 10px 2px black;

  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
  color: var(--secondary-color);
  font-family: var(--font-family-five);
}

.picture-container h1 {
  width: 15vw;
  margin: 3vh;

  text-shadow: var(--text-shadow-one);
}

.picture-container p {
  width: 14vw;
  margin-left: 3vh;
  font-size: 3vh;
}

.form {
  margin-top: 10vh;
  width: 25vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-main);

  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.form h1 {
  margin: 3vh auto;
  font-family: var(--font-family-four);
}

.input-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.input-container input {
  margin: 1vh 0;
  border-top-right-radius: 5vh;
  border-bottom-right-radius: 5vh;
  border: 1px solid grey;
  border-left: none;
  padding: 1.2vh;
  font-size: var(--font-size-small);
  font-family: var(--font-family-four);
}

.input-container input:focus {
  border: 1px solid grey;
  border-left: none;
  outline: none;
}

.icon {
  width: 1vw;
  height: 2vh;
  padding: 1.7vh;
  padding-right: 0;
  border: 1px solid grey;
  border-right: none;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
  color: grey;
}

.input-field {
  display: flex;
  align-items: center;
}

.btn-submit {
  width: 16vw;
  margin: 0 auto;
  border-radius: 5vh;
  border: none;
  padding: 0.5vh 0;
  font-size: 2.5vh;
  color: var(--secondary-color);
  font-weight: 600;
  background-color: #a64bd7;
}

.btn-submit:hover {
  background-color: #fd3f89;
  transition: 0.1s linear;
}

.p-signIn {
  margin: 0 auto;
  font-family: var(--font-family-four);
}

.p-signIn a {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .picture-container {
    width: 45vw;
    height: 60vh;
  }

  .picture-container h1 {
    width: 25vw;
    margin: 3vh;
    font-size: 3.3vh;
  }

  .picture-container p {
    width: 30vw;
    margin-left: 3vh;
    font-size: 2.6vh;
  }

  .form {
    width: 45vw;
    height: 60vh;
  }

  .form h1 {
    margin: 3vh auto;
    font-size: 4vh;
  }

  .input-field {
    margin: -0.5vh auto;
  }

  .input-container {
    margin: 0 auto;
    width: 100%;
  }

  .input-container input {
    /* margin: 1vh 0; */
    width: 25vw;
    font-size: 1.4vh;
  }

  .icon {
    padding: 0vh 1vh;
    width: 1.7vh;
    height: 4.5vh;
  }
  .btn-submit {
    width: 25vw;
    margin: 1vh auto;
    font-size: 1.8vh;
  }

  .p-signIn {
    margin: 0 auto;
    font-size: 1.3vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 770px) {
  .picture-container {
    width: 45vw;
    height: 60vh;
  }

  .picture-container h1 {
    width: 25vw;
    margin: 3vh;
    font-size: 4vh;
  }

  .picture-container p {
    width: 30vw;
    margin-left: 3vh;
    font-size: 2.6vh;
  }

  .form {
    width: 45vw;
    height: 60vh;
  }

  .form h1 {
    margin: 3vh auto;
    font-size: 4vh;
  }

  .input-field {
    margin: -0.5vh auto;
  }

  .input-container {
    margin: 0 auto;
    width: 45vw;
  }

  .input-container input {
    margin: 1vh 0;
    width: 25vw;
    font-size: 1.5vh;
  }

  .icon {
    border-right: none;
    width: 1.1vh;
    height: 1.5vh;
    padding: 1.57vh;
    padding-right: 0;
  }
  .btn-submit {
    width: 25vw;
    margin: 1vh auto;
    font-size: 1.8vh;
  }

  .p-signIn {
    margin: 0 auto;
    font-size: 1.5vh;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1050px) {
  .container {
    background-size: 300%;
  }

  .picture-container {
    width: 45vw;
    height: 60vh;
  }

  .picture-container h1 {
    width: 25vw;
    margin: 3vh;
    font-size: 4vh;
  }

  .picture-container p {
    width: 30vw;
    margin-left: 3vh;
    font-size: 2.6vh;
  }

  .form {
    width: 45vw;
    height: 60vh;
  }

  .form h1 {
    margin: 3vh auto;
    font-size: 4vh;
  }

  .input-field {
    margin: -0.5vh auto;
  }

  .input-container {
    margin: 0 auto;
    width: 45vw;
  }

  .input-container input {
    margin: 1vh 0;
    width: 25vw;
    font-size: 1.5vh;
  }

  .icon {
    border-right: none;
    width: 1.3vh;
    height: 1.5vh;
    padding: 1.58vh;
    padding-right: 0;
  }
  .btn-submit {
    width: 25vw;
    margin: 1vh auto;
    font-size: 1.8vh;
  }

  .p-signIn {
    margin: 0 auto;
    font-size: 1.5vh;
  }
}

@media only screen and (min-width: 1051px) and (max-width: 1200px) {
  .container {
    background-size: 300%;
  }

  .picture-container {
    width: 30vw;
    height: 60vh;
  }

  .picture-container h1 {
    width: 25vw;
    margin: 3vh;
    font-size: 4vh;
  }

  .picture-container p {
    width: 30vw;
    margin-left: 3vh;
    font-size: 2.6vh;
  }

  .form {
    width: 30vw;
    height: 60vh;
  }

  .form h1 {
    margin: 3vh auto;
    font-size: 4vh;
  }

  .input-field {
    margin: -0.5vh auto;
  }

  .input-container {
    margin: 0 auto;
    width: 30vw;
  }

  .input-container input {
    margin: 1vh 0;
    width: 15vw;
    font-size: 1.5vh;
  }

  .icon {
    border-right: none;
    width: 1.3vh;
    height: 1.5vh;
    padding: 1.58vh;
    padding-right: 0;
  }
  .btn-submit {
    width: 15vw;
    margin: 1vh auto;
    font-size: 1.8vh;
  }

  .p-signIn {
    margin: 0 auto;
    font-size: 1.5vh;
  }
}
