.links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  z-index: 999;
  padding-top: 2rem;
}

.links-user {
  position: fixed;
  top: 0;
  right: 10vw;
}

.links-guest {
  position: fixed;
  top: 0;
  right: 10vw;
}

.links li {
  display: flex;

  border: 2px solid var(--secondary-color);
  border-radius: 5px;

  margin: 0 1.5%;
  margin-top: 1vw;
  padding: 0.5vh 1.5vw;

  background-color: #d83e5a32;
  box-shadow: var(--box-shadow-main);
  opacity: 1;
}

.links li:hover {
  transition: linear 0.1s;
  border: 2px solid var(--main-bg-color);
  /* background-color: var(--secondary-color); */
}

.links li a {
  padding: 0;
  margin: 0;

  white-space: nowrap;
  color: var(--secondary-color);
  font-family: var(--font-family-two);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5vw;
}

@media only screen and (min-width: 480px) and (max-width: 770px) {
  .links-user {
    top: 9vh;
    right: 17vw;
  }

  .links-guest {
    top: 9vh;
    right: 18vw;
  }

  .links li a {
    font-size: var(--font-size-big-mobile);
    padding-top: 0.1vh;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1050px) {
  .links-user {
    top: 10vh;
    right: 15vw;
  }

  .links-guest {
    top: 10vh;
    right: 15vw;
  }

  .links li a {
    font-size: var(--font-size-big-mobile);
    padding-top: 0.1vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .links-user {
    top: 6vh;
    right: 20vw;
  }

  .links-guest {
    top: 6vh;
    right: 6vw;
  }

  .links li a {
    font-size: var(--font-size-middle);
    padding-top: 0.1vh;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 2000px) {
  .links-user {
    top: 1vh;
    right: 25vw;
  }

  .links-guest {
    top: 1vh;
    right: 6vw;
  }

  .links li a {
    font-size: 2.7vh;
    padding-top: 0.1vh;
  }
}
