.links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 999;
  padding-top: 2rem;
}

.links-user {
  position: fixed;
  top: 0;
  right: 10vw;
}

.links li a {
  color: #d83e59;
  font-family: "Ryu";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: rgb(0, 0, 0) 2px 5px 3px;
}

.links li a:hover {
  color: rgb(252, 252, 252);
  transition: linear 0.1s;
}

.links li:hover {
  transform: translatey(-10%) scale(1.1);
  transition: linear 0.25s;
}

.links li {
  padding: 0 1.2rem;
  margin-right: 1rem;

  /* padding-right: 0.8rem; */
}
