@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap");

.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://i.imgur.com/hW8tBdX.png");
  background-repeat: repeat-x;
  background-position: right;

  animation: move-background 30s linear infinite;
}

@keyframes move-background {
  0% {
    background-position: left;
  }
  25% {
    background-position: center;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: center;
  }
  100% {
    background-position: left;
  }
}

.section-one {
  position: fixed;
  left: 70px;

  height: 70vh;
  width: 50vw;
  z-index: 999;
  /* background-image: url("https://cdn.wallpapersafari.com/17/13/es1bhZ.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: var(--border-type-one);
  box-shadow: var(--box-shadow-main);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  animation: slide 13s infinite;
  opacity: 0;
  transition: var(--transition-one);
}

.slide-1 {
  background-image: url("./images/main.jpg");
  animation-delay: 0s;
}

.slide-2 {
  background-image: url("https://cutewallpaper.org/21x/9s0ea7dlc/Bodybuilding-Wallpaper-HD-2018-78+-images-.jpg");
  animation-delay: 4s;
}

.slide-3 {
  background-image: url("https://cutewallpaper.org/21x/9s0ea7dlc/Bodybuilding-Wallpaper-189.jpg");
  animation-delay: 8s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section-two {
  position: fixed;
  right: 70px;

  height: 50vh;
  width: 40vw;

  margin-top: -9.5rem;
  margin-left: 1rem;

  border-top: var(--border-type-one);

  box-shadow: var(--box-shadow-main);
  background-color: rgba(66, 66, 66, 0.308);
}
.section-two h1 {
  color: var(--secondary-color);

  font-size: var(--font-size-big);
  font-family: var(--font-family-four);
  font-weight: 800;
  /* font-style: italic; */

  text-transform: uppercase;
  text-align: start;
  text-shadow: var(--text-shadow-one);

  padding: 0.5rem;
}

.section-two p {
  color: var(--secondary-color);

  font-size: var(--font-size-middle);
  font-family: var(--font-family-four);
  /* font-style: italic; */

  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--text-shadow-two);

  padding: 0.5rem;
  margin-top: 5rem;
}

.anchor-btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-size: 1rem;
  font-family: var(--font-family-five);

  padding: 0.5rem 1rem;
  font-weight: 900;
  box-shadow: var(--box-shadow-main);
  border-radius: 3px;
  transition: var(--transition-half);
}

.btn-container {
  width: 60%;
  height: 20%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
}

.workouts-btn {
  background-color: #d83e5a99;
  border: var(--border-type-two);
  color: var(--secondary-color);

  opacity: 0.85;
}

.workouts-btn:hover {
  background-color: var(--secondary-color);
  border: var(--border-type-one);
  color: var(--main-bg-color);

  opacity: 1;
}

.nutrition-btn {
  background-color: #ffffffb9;
  border: var(--border-type-one);
  color: var(--main-bg-color);

  opacity: 0.8;
}

.nutrition-btn:hover {
  background-color: var(--main-bg-color);
  border: var(--border-type-two);
  color: var(--secondary-color);

  opacity: 1;
}

.section-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 70px;
  bottom: 113px;

  height: 18vh;
  width: 40vw;

  border-top: var(--border-type-one);
  box-shadow: var(--box-shadow-main);
  background-color: rgba(66, 66, 66, 0.362);
}

.section-three h1 {
  display: flex;
  flex-direction: column;

  font-size: var(--font-size-big);
  font-family: var(--font-family-two);
  /* font-style: italic; */

  color: var(--secondary-color);

  text-transform: uppercase;
  text-shadow: var(--text-shadow-one);

  margin-top: 1.3rem;
}

.learn {
  position: fixed;
  right: 470px;
  bottom: 210px;
}

.about {
  position: fixed;
  bottom: 160px;
  right: 290px;

  cursor: pointer;

  font-style: normal;
  font-family: var(--font-family-five);
  font-size: 1.8rem;
  font-weight: 900;

  border: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow-main);
  padding: 0.2rem 2rem;

  background-color: #d83e5a29;
  opacity: 0.85;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--main-bg-color);
  }
  50% {
    transform: scale(1.01);
    box-shadow: 0 0 0 1px var(--secondary-color);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--main-bg-color);
  }
}

.about:hover > a {
  color: var(--secondary-color);
  transition: var(--transition-half);
}

.about:hover {
  opacity: 1;

  animation: pulsate 1s ease-out infinite;
  transition: var(--transition-half);
}

.about a {
  text-decoration: none;
  color: #ffffffb0;
  text-shadow: var(--text-shadow-one);
}

.ourapp {
  position: fixed;
  right: 100px;
  bottom: 110px;
}

.about-btn {
  position: fixed;
  right: 90px;
  bottom: 190px;
  background-color: var(--main-bg-color);
  color: var(--secondary-color);
  border: var(--border-type-two);

  outline-offset: 5px;
  outline: var(--border-type-two);

  opacity: 0.85;
  padding: 0.2rem 4rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
  .section-one {
    height: 60vh;
    width: 57vw;
    position: fixed;
    left: 3vw;
    background-image: url("./images/dasd.webp");
  }
  .slide {
    animation: none;
  }
  .section-two {
    position: fixed;
    height: 36vh;
    right: 3vw;
    bottom: 44vh;
    width: 36vw;
  }

  .section-two h1 {
    font-size: var(--font-size-big-mobile);
  }

  .section-two p {
    font-size: var(--font-size-big-mobile);
    padding: 0.5rem 0.2rem;
    margin-top: 1vh;
  }

  .btn-container {
    flex-direction: column;
    margin-top: 0.5vh;
  }

  .anchor-btn {
    font-size: var(--font-size-middle-mobile);
    padding: 0.3rem 0.4rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .section-three {
    position: fixed;
    right: 3vw;
    bottom: 20vh;
    width: 36vw;
    height: 23vh;
  }

  .learn {
    font-size: var(--font-size-big-mobile);
    right: 12vw;
    bottom: 37vh;
  }
  .about {
    font-size: var(--font-size-middle-mobile);
    right: 13.5vw;
    bottom: 32vh;
    padding: 0.5vh 2vh;
  }
  .ourapp {
    font-size: var(--font-size-big-mobile);
    right: 9vw;
    bottom: 26vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 770px) {
  .section-one {
    height: 60vh;
    width: 57vw;
    position: fixed;
    left: 3vw;
    background-image: url("./images/Daddy\ CBUM.jpg");
    background-size: 110%;
  }
  .slide {
    animation: none;
  }
  .section-two {
    position: fixed;
    height: 36vh;
    right: 3vw;
    bottom: 44vh;
    width: 36vw;
  }

  .section-two h1 {
    font-size: var(--font-size-small);
  }

  .section-two p {
    font-size: var(--font-size-extrabig-mobile);
    padding: 0.5rem 0.2rem;
    margin-top: 1vh;
  }

  .btn-container {
    flex-direction: column;
    margin-top: -0.5vh;
  }

  .anchor-btn {
    font-size: var(--font-size-big-mobile);
    padding: 0.7vh 2vw;
    margin-bottom: 1rem;
    text-align: center;
  }

  .section-three {
    position: fixed;
    right: 3vw;
    bottom: 20vh;
    width: 36vw;
    height: 23vh;
  }

  .learn {
    font-size: var(--font-size-small);
    right: 12vw;
    bottom: 37vh;
  }
  .about {
    font-size: var(--font-size-extrabig-mobile);
    right: 14vw;
    bottom: 31vh;
    padding: 0.2vh 2vw;
  }
  .ourapp {
    font-size: var(--font-size-small);
    right: 8vw;
    bottom: 24vh;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1025px) {
  .container {
    background-size: 300%;
  }
  .slide {
    animation: none;
  }

  .section-one {
    left: 3vw;
    bottom: 10vh;
    height: 70vh;
    width: 53vw;
    background-image: url("./images/1024.jpg");
  }

  .section-two {
    top: 32.9vh;
    right: 3vw;
  }

  .section-two h1 {
    font-size: 2.5vh;
  }
  .section-two p {
    font-size: var(--font-size-small);
  }

  .btn-container {
    flex-direction: column;
    margin-top: 2vh;
  }

  .anchor-btn {
    padding: 1vh 2vh;
    font-size: var(--font-size-big-mobile);
    margin-bottom: 3vh;
  }
  .section-three {
    top: 72vh;
    right: 3vw;
  }

  .learn {
    font-size: var(--font-size-small);
    top: 75vh;
    right: 13vw;
  }

  .about {
    font-size: var(--font-size-small);
    right: 15vw;
    bottom: 18vh;
    padding: 0.2vh 2vw;
  }

  .ourapp {
    font-size: var(--font-size-small);
    right: 8vw;
    bottom: 13vh;
    padding: 0.2vh 2vw;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* .slide {
    animation: none;
  } */

  .section-one {
    left: 3vw;
    bottom: 10vh;
    height: 70vh;
    width: 65vw;
  }
  .slide-1 {
    background-position: 50% 0%;
  }

  .section-two {
    width: 28vw;
    top: 41.5vh;
    right: 3vw;
  }

  .section-two h1 {
    font-size: 3.5vh;
  }
  .section-two p {
    margin-top: -1vh;
    font-size: var(--font-size-middle);
  }

  .btn-container {
    margin-top: 2vh;
    margin-right: 13vh;
  }

  .anchor-btn {
    margin: 0 1vw;
    padding: 1vh 2vh;
    font-size: var(--font-size-extrabig-mobile);
    margin-bottom: 3vh;
  }

  .section-three {
    width: 28vw;
    top: 72vh;
    right: 3vw;
  }

  .learn {
    font-size: var(--font-size-middle);
    top: 73vh;
    right: 10vw;
    font-family: var(--font-family-four);
  }

  .about {
    font-size: var(--font-size-middle);
    right: 11.3vw;
    bottom: 17vh;
    padding: 0.2vh 2vh;
  }

  .ourapp {
    font-size: var(--font-size-middle);
    right: 7vw;
    bottom: 10vh;
    font-family: var(--font-family-four);
  }
}

@media only screen and (min-width: 1201px) and (max-width: 2000px) {
  .section-one {
    bottom: 8vh;
    left: 2vw;
    width: 60vw;
    height: 76vh;
  }

  .section-two {
    height: 50vh;
    width: 35vw;
    top: 36vh;
    right: 2vw;
  }

  .section-two h1 {
    margin-bottom: -2vh;
    font-size: 4.3vh;
  }

  .btn-container {
    margin-right: 12vw;
  }

  .anchor-btn {
    margin: 0 4vw;
  }

  .section-three {
    right: 2vw;
    bottom: 8vh;
    width: 35vw;
    height: 25vh;
  }

  .learn {
    font-size: var(--font-size-big);
    bottom: 27vh;
    right: 13vw;
  }

  .about {
    font-size: var(--font-size-middle);
    right: 13.5vw;
    bottom: 18vh;
  }

  .ourapp {
    bottom: 10vh;
    right: 11vw;
  }
}

@media only screen and (min-width: 2000px) {
  .container {
    background-size: 150%;
  }
}

/* https://i.pinimg.com/originals/2e/58/19/2e5819317f737e57a772e54c96c6dbc1.jpg */

/* https://image-cdn.essentiallysports.com/wp-content/uploads/318594095_668733691630816_6711357103519956960_n.jpg?width=600 */

/* https://fitnessgadzets.com/wp-content/uploads/2022/11/1669214432474-825x1024.png */
