@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

/* BACKGROUND */

.loader {
  margin: 0 auto;
  margin-top: 2vh;

  width: 50vw;
}

.profile {
  position: fixed;
  right: 2vw;
  top: 3vh;
  width: 4vw;
  height: 8vh;

  border-radius: 50%;
}

.profile:hover {
  transition: 0.5s ease;
  transform: scale(1.05);
}

.profile img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 0.4vh solid white;
  box-shadow: var(--box-shadow-main);
}

.profile img:hover {
  border: var(--border-type-one);
}

.navigation-bg {
  width: 100vw;
  position: fixed; /* this will fix the navigation bar in place */
  top: 0; /* this will position the navigation bar at the top of the page */
  left: 0; /* this will position the navigation bar at the left of the page */
  width: 100%; /* this will make the navigation bar span the entire width of the page */
  background-color: transparent; /* this will make the background transparent */
  z-index: 999; /* this will make the navigation bar appear on top of other elements */
  color: var(--secondary-color);
}

.logoText {
  position: fixed;
  text-transform: uppercase;
  font-family: "Rye";
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  text-shadow: rgb(0, 0, 0) 2px 5px 3px;
}

.and {
  font-size: 0.8em;
}

/* LOGO */
.mainRow {
  padding: 1rem 0;
}

.logo {
  position: fixed;
  margin-left: -5rem;
}

/* LINKS */

.links-container {
  width: 70vw;
  display: inline-block;
}
.burger {
  display: none;
}

/* QUERIES */
@media only screen and (max-width: 480px) {
  .logo {
    margin-left: 0px;
    top: 3vh;
    width: 40px;
  }
  .logoText {
    margin-left: 2.5rem;
    top: 2vh;
    font-size: var(--font-size-extrabig-mobile);
  }

  .profile {
    position: fixed;
    right: 45vw;
    top: 3vh;
    width: 10vw;
    height: 5vh;
  }
  .links-container {
    display: none;
  }

  .burger {
    display: inline-block;
  }
}

@media only screen and (min-width: 480px) and (max-width: 770px) {
  .logo {
    top: 4vh;
    left: 1vw;
    margin-left: 0vw;
    width: 60px;
  }
  .logoText {
    top: 3vh;
    left: 6.5vh;
    font-size: var(--font-size-extrabig-mobile);
  }

  .profile {
    position: fixed;
    right: 2vw;
    top: 4vh;
    width: 8vw;
    height: 6vh;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1050px) {
  .logo {
    top: 4vh;
    left: 2vw;
    margin-left: 0vw;
    width: 70px;
  }
  .logoText {
    top: 3vh;
    left: 7vh;
    font-size: var(--font-size-extrabig-mobile);
  }

  .profile {
    position: fixed;
    right: 2vw;
    top: 4vh;
    width: 8vw;
    height: 6vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .logo {
    top: 3vh;
    left: 2vw;
    margin-left: 0vw;
    width: 70px;
  }
  .logoText {
    top: 4vh;
    left: 13vh;
    font-size: var(--font-size-small);
  }

  .profile {
    position: fixed;
    right: 2vw;
    top: 4vh;
    width: 5vw;
    height: 7vh;
  }
}

@media only screen and (min-width: 1210px) and (max-width: 2000px) {
  .logo {
    top: 3vh;
    left: 2vw;
    margin-left: 0vw;
    width: 70px;
  }
  .logoText {
    position: fixed;
    top: 4vh;
    left: 14vh;
    font-size: var(--font-size-small);
  }

  .profile {
    position: fixed;
    right: 2vw;
    top: 4vh;
    width: 5vw;
    height: 9vh;
  }
}
