@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

/* BACKGROUND */

.navigation-bg {
  width: 100vw;
  position: fixed; /* this will fix the navigation bar in place */
  top: 0; /* this will position the navigation bar at the top of the page */
  left: 0; /* this will position the navigation bar at the left of the page */
  width: 100%; /* this will make the navigation bar span the entire width of the page */
  background-color: transparent; /* this will make the background transparent */
  z-index: 999; /* this will make the navigation bar appear on top of other elements */
  color: var(--secondary-color);
}

.logoText {
  text-transform: uppercase;
  font-family: "Rye";
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  text-shadow: rgb(0, 0, 0) 2px 5px 3px;
  margin-left: -1.2rem;
}

.and {
  font-size: 0.8em;
}

/* LOGO */
.mainRow {
  padding: 1rem 0;
}

.logo {
  position: fixed;
  margin-left: -5rem;
}

/* LINKS */

.links-container {
  width: 70vw;
  display: inline-block;
}
.burger {
  display: none;
}

/* QUERIES */
@media only screen and (max-width: 480px) {
  .logo {
    margin-left: 0px;
    width: 40px;
  }
  .logoText {
    margin-left: 2.5rem;
    font-size: var(--font-size-extrabig-mobile);
  }
}

@media only screen and (max-width: 768px) {
  .links-container {
    display: none;
  }

  .burger {
    display: inline-block;
  }
}
