.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://i.imgur.com/hW8tBdX.png");
  background-repeat: repeat-x;
  background-position: right;

  overflow: hidden;

  animation: move-background 30s linear infinite;
}

@keyframes move-background {
  0% {
    background-position: left;
  }
  25% {
    background-position: center;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: center;
  }
  100% {
    background-position: left;
  }
}

.content-container {
  margin-top: 15vh;
  width: 60vw;
  height: 80vh;
  background-color: white;
  outline: 3px solid white;
  outline-offset: 10px;
}

.main-content {
  width: 100%;
  display: flex;
}

.img-container {
  width: 25vw;
  margin: 2vh;

  padding-bottom: 3vh;
  padding-right: 3vh;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 7px 10px 15px black;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2vh;
  width: 34vw;
  text-align: center;
  font-family: var(--font-family-five);
  font-weight: 600;
  border-left: 3px solid var(--main-bg-color);
}
.info h1 {
  margin-bottom: 2vh;
  margin-top: -12vh;
}

.section-one {
  width: 25vw;
}

.micro {
  width: 90%;
  font-family: var(--font-family-five);
  font-weight: 600;
  margin-left: 2vh;
  margin-bottom: 3vh;
  margin-top: -2.5vh;
}
.micro p {
  margin: 0;
  border-bottom: 2px solid black;
  font-size: 1.9vh;
}

.micro p span {
  color: var(--main-bg-color);
  margin-left: 1vh;
}

.section-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-two {
  height: 100%;
  width: 31.9vw;
  margin: 0 auto;
  border-left: 3px solid var(--main-bg-color);
  text-align: center;
  margin-top: -20vh;
  font-weight: 600;
}

.section-two p {
  margin: 0;
  font-size: 2vh;
}

.section-two h5 {
  color: var(--main-bg-color);
  margin-top: 6vh;
  margin-bottom: 2vh;
}

.btn-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5vh;
}

.btn-container button {
  padding: 0.2vh 2vw;
  background-color: var(--main-bg-color);
  color: white;
  border: none;
  border-radius: 1vh;
  font-family: var(--font-family-five);
  text-shadow: var(--text-shadow-one);
}

.btn-container button:hover {
  background-color: rgb(240, 240, 104);
}
