.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-five);

  margin-top: 5vh;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0.3vh 0;
}

.field {
  border-radius: 5vh;
  width: 15vw;
  margin-top: 1vh;
  padding: 0.6vh;
  padding-left: 1vw;
  border: 2px solid black;
}

.field::placeholder {
  font-style: italic;
}

.field:focus {
  outline: none;
}

.input-field textarea {
  resize: inherit;
}

.exercises {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0.3vh 0;
  width: 95%;
}

.exercises p {
  margin-top: 3vh;
  margin-bottom: 0;
  font-size: 2.5vh;
  border-bottom: 3px solid var(--main-bg-color);
}

.exercises ul {
  list-style: none;
  padding-left: 0vw;
}

.exercises ul li {
  padding: 0.8vh 0;
  border-bottom: var(--border-type-one);
  font-size: 1.9vh;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  /* flex-direction: column; */
}

.ex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sets-reps {
  margin-top: 0.5vh;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.sets-reps div {
  margin-top: 0.5vh;
}

.text {
  margin-left: 1vw;
  margin-right: 0.2vw;
}

.amount {
  color: var(--main-bg-color);
}

.icon-container {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-top: 0.6vh;
  margin-left: 0.5vw;
  margin-right: 0.3vw;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0.1vh 0.2vh;
  cursor: pointer;
}

.btn-submit {
  margin: 1vh auto;
  color: var(--secondary-color);
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 5vh;
  width: 12vw;
  padding: 0.5vh 0;
  text-shadow: var(--text-shadow-one);
}

.btn-submit:hover {
  background-color: #ebbebe;
  color: var(--main-bg-color);
  text-shadow: none;
  font-weight: 600;
}
