.icon {
  font-size: var(--font-size-big);
  color: var(--main-bg-color);
  padding: 0.4rem;
}
.icon:hover {
  color: var(--secondary-color);
  transition: linear 0.1s;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;

  height: 7vh;
  background-color: transparent;
}

.links-continer {
  margin-right: 1.5vw;
}

.text {
  margin-left: 2vw;
  margin-top: 3vh;
  /* color: var(--main-bg-color); */
  color: white;
  font-size: var(--font-size-big-mobile);
  font-family: var(--font-family-five);
  text-transform: uppercase;
  text-shadow: var(--text-shadow-one);
}

@media only screen and (max-width: 480px) {
  .icon {
    font-size: var(--font-size-middle);
  }
}
