.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://i.imgur.com/hW8tBdX.png");
  background-repeat: repeat-x;
  background-position: right;

  animation: move-background 30s linear infinite;
}

@keyframes move-background {
  0% {
    background-position: left;
  }
  25% {
    background-position: center;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: center;
  }
  100% {
    background-position: left;
  }
}

.error {
  color: red;
  font-family: var(--font-family-four);
  margin-bottom: 0.8vh;
  margin-top: -0.5vh;
  margin-left: 0.5vw;
  font-size: 1.8vh;
  width: 20vw;
}

.input {
  display: flex;
  flex-direction: column;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25vw;
  height: 70vh;
  margin-top: 10vh;

  background: url("https://i.pinimg.com/564x/a9/d5/2a/a9d52ac540de721422ae127830e8c7ab.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1;

  box-shadow: 0px 0px 10px 2px black;

  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
  color: var(--secondary-color);
  font-family: var(--font-family-five);
}

.picture-container h1 {
  margin-top: 15vh;
  white-space: nowrap;
}

.picture-container p {
  width: 17vw;
  white-space: normal;

  font-size: 2.5vh;
}

.form {
  width: 25vw;
  height: 70vh;
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-main);

  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.form h1 {
  margin-top: 15vh;
  font-family: var(--font-family-four);
}

.input-container {
  display: flex;
  flex-direction: column;

  width: 16vw;
}

.input-container input {
  margin: 1vh 0;
  border-top-right-radius: 5vh;
  border-bottom-right-radius: 5vh;
  border: 1px solid grey;
  border-left: none;
  padding: 1.2vh;
  font-size: var(--font-size-small);
  font-family: var(--font-family-four);
}

.input-container input:focus {
  border: 1px solid grey;
  border-left: none;
  outline: none;
}

.icon {
  width: 1vw;
  height: 2vh;
  padding: 1.7vh;
  padding-right: 0;
  border: 1px solid grey;
  border-right: none;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
  color: grey;
}

.input-field {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  margin-left: 0.2vh;
}

.checkbox input {
  width: 1.5vh;
}

.additional {
  width: 15vw;

  font-size: 1.8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family-four);
  color: rgba(0, 0, 0, 0.731);
}

.additional a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.731);
}

.additional a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.731);
}

.btn-submit {
  width: 16vw;
  margin-left: 0.5vw;
  border-radius: 5vh;
  border: none;
  padding: 0.5vh 0;
  font-size: 2.5vh;
  color: var(--secondary-color);
  font-weight: 600;
  background-color: #fd3f89;
}

.btn-submit:hover {
  background-color: #a64bd7;
  transition: 0.1s linear;
}

.new-here {
  width: 13vw;

  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  font-family: var(--font-family-four);
}

.new-here a {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .error {
    margin-bottom: 0.8vh;
    margin-top: -0.5vh;
    margin-left: 0.5vw;
    font-size: 1.2vh;
    width: 30vw;
  }

  .picture-container {
    width: 45vw;
    height: 50vh;
  }

  .picture-container h1 {
    font-size: 3vh;
    text-shadow: var(--text-shadow-one);
  }

  .picture-container p {
    font-size: 2.2vh;
    width: 30vw;
  }

  .form {
    width: 45vw;
    height: 50vh;
  }

  .form h1 {
    font-size: 2.8vh;
    right: 25vw;
  }

  .input-container {
    margin-right: 15vw;
  }

  .icon {
    margin-top: -1.5vh;
    height: 1.2vh;
    width: 2vw;
    padding: 1vh;
    padding-right: 0;
  }

  .input-container input {
    padding: 0.51vh;
    margin-top: -0.5vh;
    width: 28vw;
    font-size: 1.4vh;
  }

  .checkbox {
    font-size: 1.2vh;
    margin-right: 1vw;
  }

  .additional {
    font-size: 1.2vh;
    white-space: nowrap;
    margin-top: -0.2vh;
    margin-right: 10vh;
  }

  .btn-submit {
    margin-top: 1vh;
    font-size: 1.5vh;
    width: 26vw;
  }

  .new-here {
    margin-right: 15vw;
    font-size: 1.2vh;
    white-space: nowrap;
  }
  .new-here a {
    margin-left: 1vw;
  }
}

@media only screen and (min-width: 480px) and (max-width: 770px) {
  .error {
    margin-bottom: 0.8vh;
    margin-top: -0.5vh;
    margin-left: 0.5vw;
    font-size: 1.2vh;
    width: 30vw;
  }

  .picture-container {
    width: 45vw;
    height: 50vh;
  }

  .picture-container h1 {
    font-size: 4vh;
    margin-top: 10vh;
    text-shadow: var(--text-shadow-one);
  }

  .picture-container p {
    font-size: 2.5vh;
    width: 30vw;
  }

  .form {
    width: 45vw;
    height: 50vh;
  }

  .form h1 {
    font-size: 4vh;
    margin-top: 10vh;
    right: 25vw;
  }

  .input-container {
    margin-right: 12vw;
  }

  .icon {
    margin-top: -1.52vh;
    height: 1vh;
    width: 4vh;
    padding: 1vh;
    padding-right: 0;
  }

  .input-container input {
    padding: 0.51vh;
    margin-top: -0.5vh;
    width: 28vw;
    font-size: 1.3vh;
  }

  .checkbox {
    font-size: 1.2vh;
    margin-right: 1vw;
  }

  .additional {
    font-size: 1.3vh;
    white-space: nowrap;
    margin-top: -0.2vh;
    margin-right: 10vh;
  }

  .btn-submit {
    margin-top: 1vh;
    font-size: 1.5vh;
    width: 28vw;
  }

  .new-here {
    margin-right: 8vw;
    font-size: 1.2vh;
    white-space: nowrap;
  }
  .new-here a {
    margin-left: 1vw;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1050px) {
  .error {
    margin-bottom: 0.8vh;
    margin-top: -0.5vh;
    margin-left: 0.5vw;
    font-size: 1.4vh;
    width: 30vw;
  }

  .container {
    background-size: 300%;
  }

  .picture-container {
    width: 45vw;
    height: 50vh;
  }

  .picture-container h1 {
    font-size: 4vh;
    margin-top: 10vh;
    text-shadow: var(--text-shadow-one);
  }

  .picture-container p {
    font-size: 2.5vh;
    width: 30vw;
  }

  .form {
    width: 45vw;
    height: 50vh;
  }

  .form h1 {
    font-size: 4vh;
    margin-top: 10vh;
    right: 25vw;
  }

  .input-container {
    margin-right: 12vw;
  }

  .icon {
    margin-top: -1.5vh;
    height: 2.02vh;
    width: 1.15vh;
    padding: 1vh;
    padding-right: 0;
  }

  .input-container input {
    padding: 0.51vh;
    margin-top: -0.5vh;
    width: 28vw;
    font-size: 2vh;
  }

  .checkbox {
    font-size: 1.5vh;
    margin-right: 1vw;
  }

  .additional {
    font-size: 1.5vh;
    white-space: nowrap;
    margin-top: -0.2vh;
    margin-right: 12vh;
  }

  .btn-submit {
    margin-left: 2vh;
    margin-top: 1vh;
    font-size: 1.5vh;
    width: 26vw;
  }

  .new-here {
    margin-right: 12vw;
    font-size: 1.5vh;
    white-space: nowrap;
  }
  .new-here a {
    margin-left: 1vw;
  }
}

@media only screen and (min-width: 1051px) and (max-width: 1200px) {
  .error {
    margin-bottom: 0.8vh;
    margin-top: -0.5vh;
    margin-left: 0.5vw;
    font-size: 1.4vh;
    width: 30vw;
  }

  .container {
    background-size: cover;
  }

  .picture-container {
    margin-top: 10vh;
    width: 30vw;
    height: 60vh;
  }

  .picture-container h1 {
    font-size: 4vh;
    margin-top: 10vh;
    text-shadow: var(--text-shadow-one);
  }

  .picture-container p {
    font-size: 2.8vh;
    width: 16vw;
  }

  .form {
    margin-top: 10vh;
    width: 30vw;
    height: 60vh;
  }

  .form h1 {
    font-size: 4vh;
    margin-top: 10vh;
  }

  .input-container {
    margin-right: 0vw;
  }

  .icon {
    margin-top: -1.3vh;
    height: 1.95vh;
    width: 1.5vh;
    padding: 1vh;
    padding-right: 0;
  }

  .input-container input {
    padding: 0.51vh;
    margin-top: -0.2vh;
    width: 15vw;
    font-size: 2vh;
  }

  .checkbox {
    font-size: 1.8vh;
    margin-right: 1vw;
  }

  .additional {
    white-space: nowrap;
    margin-top: -0.2vh;
    margin-right: 3vw;
  }

  .btn-submit {
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: 1.8vh;
    width: 16vw;
  }

  .new-here {
    margin-right: 2vw;
    font-size: 1.8vh;
    white-space: nowrap;
  }
  .new-here a {
    margin-left: 1vw;
  }
}
